<!DOCTYPE html>
<html>
  <head>
    <title>FilingsNavigator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
    <main class="min-h-full">
      <div class="g-gray-800">
        <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">
          <div class="items-center justify-between">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
